# Имя рабочего процесса
name: Java CI with Gradle

# Рабочий процесс запускается автоматически
# при выполнении указанных команд (push, pull_request),

on: [push, pull_request]


# Этап сборки (build) выполняется на последней версии Ubuntu,
# обеспечивая стабильную среду разработки Linux.
jobs:
  build:

    runs-on: ubuntu-latest

# Шаги
    steps:
      # Получение исходного кода проекта из текущего репозитория, позволяя доступ к файлам и директориям.
      - uses: actions/checkout@v2
      # Устанавливает версию Java Development Kit (JDK) версии 11 от AdoptOpenJDK, необходимую для компиляции и запуска приложения.
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      # Команда chmod +x gradlew обеспечивает выполнение скрипта Gradle Wrapper (gradlew), позволяющего запускать сборку независимо от установленной локальной версии Gradle.
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # Новый шаг: запуск контейнера с базой данных
      - name: Container start
        uses: hoverkraft-tech/compose-action@v2.0.1
        with:
      # -d lанный флаг обозначает, что контейнеры должны запускаться в фоновых процессах.
      # Другими словами, контейнеры продолжают работать независимо от основного терминала,
      # и управление возвращается обратно командному процессу сразу после запуска контейнеров.
          command: up -d

      # Ожидание загрузки контейнера
      - name: Waiting for container start
        run: sleep 30

      # Запуск тестового экземпляра системы (SUT). Файл артефакта (app-deadline.jar) загружается и запускается в фоновом режиме с помощью символа &. Это позволяет параллельно запускать тесты без блокировки терминала.
      - name: Start SUT
        # Запускаем SUT,
        # имя файла SUT будет отличаться в каждой задаче.
        # & означает, что в фоновом режиме не блокируем терминал для запуска тестов,
        # обязательно должен быть для запуска SUT в CI
        run: java -jar ./artifacts/app-deadline.jar &
      # Выполняет команду Gradle для запуска тестов (./gradlew test). Параметр --info включает подробный вывод информации о ходе выполнения команды.
      - name: Build with Gradle
        # Запускаем автотесты
        # Для проектов на базе Selenide необходимо добавить параметр для запуска браузера
        # в headless режиме -Dselenide.headless=true, параметр --info должен остаться
        run: ./gradlew test --info -Dselenide.headless=true